* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------------- INDEX PAGE ------------------------------------------ */ 

html {
    scroll-behavior: smooth;
}

header,
section h2,
section h3,
form button {
    font-family: Bebas Neue, sans-serif;
}

body, input, textarea {
    font-family: Roboto, sans-serif;
}

/* estilização do header */

header {
    background-color: black;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    font-size: 54px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul  {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 130px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.login-button button {
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 20px;
}

.login-button button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


/* container configuration */

.container , 
.container-index,
.container-wrapper,
.container-lewlara,
.container-wk {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* index section */ 

#section-index {
    height: 100vh;
}

#section-index {
    background-image: url(./images/bg_image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#section-index {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    height: 100vh; /* Garante que a seção ocupe toda a altura da tela */
}

.index-title h1 {
    font-size: 90px;
    margin-bottom: 40px;
}

.index-title h2 {
    font-weight: bold;
    font-size: 35px;
}

.container-index {
 color: rgb(255, 255, 255);
 justify-content: center;
}

/* section biography */

#biography {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#biography .container{
    text-align: justify;
}

#biography .container h2 {
    margin-bottom: 70px;
    font-size: 60px;
    color: rgb(81, 99, 212);
}

#biography .container p {
    font-weight: bold;
    font-size: 20px;
}

/* sectino slider */

.container-wrapper .wrapper {
    width: 50vw;
    height: 40vh;
    margin: 5rem auto;
    box-shadow: 10px 10px 20px black;
    overflow: hidden;
}

.container-wrapper .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 12s ease-in-out infinite alternate;
} 

.container-wrapper #slider-img-1 {
    background-image: url(./images/lewlara_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-wrapper #slider-img-2 {
    background-image: url(./images/wk_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes slider {
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
   
}

/* whatsapp button style */
.logo-wpp .whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px  1px 2px #888;
    z-index: 1000;
    margin-bottom: 30px;
}

.fa-whatsapp {
    margin-block-start: 16px;
}

/* footer */ 

.fixarRodape {
    bottom: 0;
    position:relative;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(254, 254, 254);
    padding: 10px 30PX;
}

/* -------------------------------------- JOB PAGE ------------------------------------------ */ 

.job-photo {
    max-height:400px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#lewlara-section, .container-lewlara, #wiedenkennedy-section, .cotainer-wk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40;
}

#lewlara-section {
    background-color: #ffd25a;
    backdrop-filter: blur(30px);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip:initial;
    height: 50vh;


}

#wiedenkennedy-section {
    color: white;
    background-color: black;
    min-height: 50vh;
}

.job-1-index,
.job-2-index {
    margin-right: 40px;
}

.job-1-description h1,
.job-2-description h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.job-1-description p,
.job-2-description p {
    text-align: justify;
    font-weight: bold;
}