* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

/* Para telas médias */
@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 15px;
    }
}

/* Para telas grandes */
@media screen and (min-width: 901px) {
    body {
        font-size: 16px;
    }
}

